[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[scripts]
start = "uvicorn src.main:app --host 0.0.0.0 --port 8080"

[requires]
python_version = "3.12"
